.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #fafbfd;
	height: 90px;
	padding: 20px;
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navigation {
	background: #fafbfd;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.error {
	font-weight: bold;
	color: red !important;
}

/* .forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
} */

/* .forgotPassword:hover {
	text-decoration: none;
	color: red;
} */
